

.side-left{
    position:relative;
}

.side-menu{
    position: absolute;
    left: 0;
    top: 20px;
    width: 150px;
    height: 800px;
}

.side-title{
    padding: 9px 53px 60px;
}

.side-title .title{
    font-size: 15px;
}

.side-list ul{
    padding-left:20px;
}

.side-list ul li{
    margin-bottom:10px;
    height:42px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:20px;
}

.side-list ul li:hover{
    cursor: pointer;
    background-color: #f7f7ff;
}

.side-list .active{
    background:#f3f3fb;
}