.side-profile {
  display:none;
  position: fixed;
  top: 0;
  right: 0;
  width: 225px;
  height: 100%;
  z-index:9999
}

.profile-box {
  width: 225px;
  height: 100%;
  background-color: #f3f3fb;
  padding: 20px 15px;
}

.profile-img {
  width: 185px;
  height: 215px;
  margin: 0 auto;
  background: white;
  margin-bottom: 50px;
}

.profile-detail {
  font-size: 14px;
  padding-left: 10px;
  padding-top: 5px;
}

.profile-dicp div {
  margin-bottom: 20px;
}

.profile-tit {
  font-size: 18px;
}

@media screen and (min-width: 1300px) {
  .side-profile{
    display:block;
  }
}